{% extends "base.html" %}
{%block titulo %}
Usuarios
{% endblock %}

{%block contenido %}
<H1 class="animate__animated animate__bounce">Hola, {{user.username }}</H1> <br>

<a href="usuario_add"><button class="btn btn-primary"><i class="bi bi-person-fill-add"></i></button></a><br>
<!-- {{usuarios}} -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Is Admin</th>
            <th scope="col">-</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td scope="col">{{u.id}}</td>
            <td scope="col">{{u.username}}</td>
            <td scope="col">{{u.email}}</td>
            <td scope="col">{{u.is_admin}}</td>
            <td scope="col"><a href="{{ url_for('usuario_delete', id=u.id) }}"><button class="btn btn-danger">Eliminar</button></a>            
                            <a href="{{ url_for('usuario_update', id=u.id) }}"><button class="btn btn-success">Modificar</button></a>
            </td>   
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}